<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.congyi.persistence.mybatis.LogIntegralActionMapper" >
  <resultMap id="BaseResultMap" type="cc.congyi.model.LogIntegralAction" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dealer_id" property="dealerId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dealer_id, operator, number, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_integral_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="cc.congyi.model.LogIntegralAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into log_integral_action (dealer_id, operator, number, create_time)
    values (#{dealerId,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER},
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.congyi.model.LogIntegralAction" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into log_integral_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealerId != null" >
        dealer_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealerId != null" >
        #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.congyi.model.LogIntegralAction" >
    update log_integral_action
    <set >
      <if test="dealerId != null" >
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.congyi.model.LogIntegralAction" >
    update log_integral_action
    set dealer_id = #{dealerId,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>